extends ../layout

block content
  div.row(style="padding: 1.25em")
    div.twelve.columns(style="text-align:center")
      i.nes-icon.is-medium.star
      h4(style="display:inline") #{formattedDate}
      i.nes-icon.is-medium.star
  div.row()
    div.four.columns(style="text-align:center")
      a(href=`/day/${mYesterday.format("YYYY/MM/DD")}`)= `◀ ${mYesterday.format("YYYY-MM-DD")}`
    div.four.columns &nbsp; 
    div.four.columns(style="text-align:center")
      a(href=`/day/${mTomorrow.format("YYYY/MM/DD")}`)= `${mTomorrow.format("YYYY-MM-DD")} ▶`

  each pattern, index in patterns
    if(index % 3 === 0)
      | <div class="row" style="margin-top:1.5em">
    div.four.columns
      div.nes-container.is-rounded(style=`background-color:${pattern.color};`)
        p
          form(method='POST' action='/day/incrementPatternCounter')
            div.nes-container.is-rounded(style="background-color:white")
              p
                = pattern.name
                = ": " 
                =((pattern.Days[0] && pattern.Days[0].PatternDay) ? pattern.Days[0].PatternDay.count : 0)

                input(type="hidden" name="year" value=`${year}`)
                input(type="hidden" name="month" value=`${month}`)
                input(type="hidden" name="day" value=`${day}`)
                input(type="hidden" name="patternId" value=`${pattern.id}`)
            button.nes-btn(type='submit' style="margin-top:1em;") +1
    // /div if it's time to get a newline, or if we're out of patterns.
    if ((index % 3 === 2) || index+1 === patterns.length )
      | </div>
  
  include ./note.pug
